.git
.gitignore
.env
.env.*
!.env.example
node_modules
npm-debug.log
yarn-error.log
vendor
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
docker
*.md
*.log
.DS_Store
Thumbs.db
*.sql
.gitlab-ci.yml
.travis.yml
